<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceExample">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICreditsService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICreditConditionsService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/SFIService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceExample" contract="SFIServices.IServiceExample"
                name="NetTcpBinding_IServiceExample" />
            <endpoint address="net.tcp://localhost:8081/SFIService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICreditsService" contract="SFIServices.ICreditsService"
                name="NetTcpBinding_ICreditsService" />
            <endpoint address="net.tcp://localhost:8081/SFIService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICreditConditionsService"
                contract="SFIServices.ICreditConditionsService" name="NetTcpBinding_ICreditConditionsService" />
        </client>
    </system.serviceModel>
</configuration>