<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SFIDatabaseContext" connectionString="metadata=res://*/SFIDatabaseModel.csdl|res://*/SFIDatabaseModel.ssdl|res://*/SFIDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=financiera_independiente;persist security info=True;user id=sfiadmin;password=desof2024_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding
		    maxReceivedMessageSize="20000000"
		    maxBufferSize="20000000"
		    maxBufferPoolSize="20000000">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
		  <readerQuotas maxDepth="32"
			maxArrayLength="200000000"
			maxStringContentLength="200000000"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="SFIServices.SFIService">
        <endpoint address="SFIService" binding="netTcpBinding" bindingConfiguration="" contract="SFIServices.Contracts.IServiceExample" />
		<endpoint address="SFIService" binding="netTcpBinding" bindingConfiguration="" contract="SFIServices.Contracts.ICreditsService" />
		<endpoint address="SFIService" binding="netTcpBinding" bindingConfiguration="" contract="SFIServices.Contracts.ICreditConditionsService" />
		<endpoint address="SFIService" binding="netTcpBinding" bindingConfiguration="" contract="SFIServices.Contracts.ICreditGrantingPolicies" />
		<endpoint address="SFIService" binding="netTcpBinding" bindingConfiguration="" contract="SFIServices.Contracts.IAuthenticationService" />
		  <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>